<div class="container py-5">
    <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>

    <div class="my-3">
        <button class="btn btn-warning btn-sm" (click)="resetearVotos()">Resetear votos</button>
    </div>

    <hr class="my-5" />

    <div class="row row-flex">
        <app-destino-viaje *ngFor="let d of (destinos$ | async); let i = index" [destino]="d" [idx]="i + 1"
            (clicked)="elegido($event)" (remove)="borrado($event)"></app-destino-viaje>
    </div>

    <hr class="my-4" />

    <div class="row">
        <div class="col-12">
            <h4>Actividad</h4>
            <ul>
                <li *ngFor="let update of updates">
                    {{ update }}
                </li>
            </ul>
        </div>
    </div>

    <hr class="my-4" />

    <div class="row">
        <div class="col-12">
            <h4>Tracking tags</h4>

            <ng-container *ngIf="tracking$ | async as tracking">
                <ul>
                    <li *ngFor="let key of trackingKeys(tracking)">
                        {{ key }}: {{ tracking[key] }}
                    </li>
                </ul>
            </ng-container>
        </div>
    </div>
</div>