<div class="card-content">
    <div class="card-img">
        <img src="https://picsum.photos/seed/nature/600/350" class="card-img-top" alt="Destino" />
        <span>
            <h4>{{ position }}</h4>
        </span>
    </div>

    <div class="card-desc">
        <h3>{{ destino.nombre }}</h3>
        <p>Servicios</p>

        <ul>
            <li *ngFor="let s of destino.servicios">
                <span>
                    <i *ngIf="s === 'desayuno'" style="color: red">{{ s }}</i>
                    <i *ngIf="s !== 'desayuno'">{{ s }}</i>
                </span>
            </li>
        </ul>

        <div class="mb-2">
            <button type="button" class="btn btn-outline-success btn-sm me-2" (click)="voteUp()">
                👍
            </button>

            <button type="button" class="btn btn-outline-danger btn-sm me-2" (click)="voteDown()">
                👎
            </button>

            <span><strong>Votos:</strong> {{ destino.votes }}</span>
        </div>

        <button type="button" class="btn btn-success btn-sm me-2" (click)="ir()">IR</button>

        <button type="button" class="btn btn-danger btn-sm me-2" (click)="borrar()">
            Borrar
        </button>

        <span *ngIf="destino.isSelected()">
            {{ '{PREFERIDO}' }}
        </span>

        <span class="ms-2">
            <a [routerLink]="['/destino']">ver detalle</a>
        </span>
    </div>
</div>